<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Printable Invoice</title>
</head>
<body>
    <h1>Invoice #{{ invoice.id }}</h1>
    <p>Supplier: {{ invoice.supplier }}</p>
    <p>Date: {{ invoice.created }}</p>
    <table>
        <thead>
            <tr>
                <th>Product</th>
                <th>Quantity</th>
                <th>Price</th>
                <th>Total</th>
            </tr>
        </thead>
        <tbody>
            {% for item in invoice.items.all %}
                <tr>
                    <td>{{ item.product.name }}</td>
                    <td>{{ item.quantity }}</td>
                    <td>{{ item.price }}</td>
                    <td>{{ item.total_price }}</td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
    <p>Total Amount: {{ invoice.total_price }}</p>
</body>
</html>
