{% extends 'base.html' %} {% block title %} Reset Link Sent {% endblock title %}
{% block content %}
<h1 class="display-4 my-4">Đã gửi liên kết</h1>
<hr />
<p>
Chúng tôi đã gửi cho bạn hướng dẫn đặt lại mật khẩu của bạn qua email, nếu có tài khoản
  với email bạn đã nhập. Bạn sẽ sớm nhận được chúng.
</p>
<p>
  Nếu bạn không nhận được email, hãy đảm bảo rằng bạn đã nhập địa chỉ email mà bạn đã đăng ký và kiểm tra thư mục rác của bạn.
</p>
<a href="{% url 'login' %}" class="btn btn-primary">Đăng nhập</a>
{% endblock content %}
